body{
    background-image: linear-gradient(grey, green);
 }
 .head{
     color:gold;
     background-color:white;
     font-family:Courier New;
 }
 .main{
     position:relative;
     margin-top:200px;
 }
 .inputs{
     margin-left:10%;
 }
 .result{
     display:inline;
     margin-right:10%;
     font-size:120%;
 }
 .guess{
     color:blue;
 }
 .turns{
     position:relative;
     display:inline;
     margin-right:20%;
     bottom:50px;
     color:red;
 }
 .level{
     position:relative;
     display:inline;
     margin-left:20%;
     bottom:50px;
     color:red;
 }
 .turn,.levels{
     color:white;
 }
 .range{
      font-family:verdana;
     position:relative;
     bottom:100px;
     color:aqua;
 }
 .sidebar{
     top:60px;
     width:00px;
     height:563px;
     background-color:pink;
     position:absolute;
     overflow:hidden;
     transition:0.5s;
     z-index:1;
 }
 #side{
     text-align:left;
     left:0px;
     margin-top:200px;
     height:50px;
     width:0px;
     position:absolute;
     color:white;
     background-color:brown;
     border:0px;
     z-index:1;
 }
 .sidebar img{
     position:relative;
     margin-top:90%;
     margin-left:40%;
 }
 .extra{
     position:absolute;
     margin-top:150px;
     margin-left:15%;
     height:0px;
     width:65%;
     background-color:pink;
     z-index:1;
     overflow:hidden;
     transition:1s;
 }
 .max{
     margin-right:10%;
 }
 .moves{
     margin-left:10%;
 }
 .check,.inputs{
     border:1px solid white;
     background-color:black;
     color:white;
 }
 img{
     height:30px;
     width:30px;
     margin:0px 20px;
 }
 .foot{
     text-align:center;
     color:blue;
 }
 .footer{
 
     text-align:center;
     margin-top:130px;
     color:purple;
     background-color:white;
 }