body{
	background-image: url("OIP.jfif");
	
}
.head{
	color:brown;
}
.main{
    margin-top:115px;
}
table{
    height:200px;
    width:200px;
}
button{
	background-color:aqua;
}
td{
    border:2px solid black;
    width:33%;
    height:33%;
    text-align:center;
    font-size:175%;
}
.player1 span{
	color:red;
}
.player1{
	position:relative;
	right:150px;
	top:0px;
	display:inline;
	color:blue;
}
.player2{
    position:relative;
    left:150px;
    top:0px;
    display:inline;
    color:blue;
}
.player2 span{
	color:grey;
}
.score1{
	position:relative;
	display:inline;
	right:195px;
}
.score2{
	position:relative;
	display:inline;
	left:195px;
}
.sidebar{
    top:60px;
    width:00px;
    height:563px;
    background-color:pink;
    position:absolute;
    overflow:hidden;
    transition:0.5s;
    z-index:1;
    text-align:center;
}
.sidebar img{
    position:relative;
    margin-top:40%;
    margin-left:0%;
}
#side{
    text-align:left;
    left:0px;
    margin-top:200px;
    height:50px;
    width:0px;
    position:absolute;
    color:white;
    background-color:brown;
    border:0px;
    z-index:1;
}
p{
    text-align:center;
}
img{
    height:30px;
    width:30px;
    margin:0px 20px;
}
.footer{
    text-align:center;
    margin-top:130px;
    color:purple;
    background-color:white;
}
